<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<array>
		<string>Username</string>
		<string>用户名</string>
	</array>
	<key>password</key>
	<array>
		<string>Password</string>
		<string>密码</string>
	</array>
	<key>login</key>
	<array>
		<string>Login</string>
		<string>登录</string>
	</array>
	<key>signup</key>
	<array>
		<string>Signup</string>
		<string>注册</string>
	</array>
	<key>about_me</key>
	<array>
		<string>About Me</string>
		<string>关于我</string>
	</array>
	<key>address</key>
	<array>
		<string>Address</string>
		<string>地址</string>
	</array>
	<key>city</key>
	<array>
		<string>City</string>
		<string>城市</string>
	</array>
	<key>state</key>
	<array>
		<string>State</string>
		<string>省市自治区</string>
	</array>
	<key>country</key>
	<array>
		<string>Country</string>
		<string>国家</string>
	</array>
	<key>gender</key>
	<array>
		<string>Gender</string>
		<string>性别</string>
	</array>
	<key>male</key>
	<array>
		<string>Male</string>
		<string>男</string>
	</array>
	<key>female</key>
	<array>
		<string>Famale</string>
		<string>女</string>
	</array>
	<key>ethnicity</key>
	<array>
		<string>Ethnicity</string>
		<string>种族</string>
	</array>
	<key>birthdate</key>
	<array>
		<string>Birthdate</string>
		<string>出生日期</string>
	</array>
	<key>graduation</key>
	<array>
		<string>Graduation</string>
		<string>毕业时间</string>
	</array>
	<key>sat_score</key>
	<array>
		<string>SAT Score</string>
		<string>SAT分数</string>
	</array>
	<key>act_score</key>
	<array>
		<string>ACT Score</string>
		<string>ACT分数</string>
	</array>
	<key>back</key>
	<array>
		<string>back</string>
		<string>返回</string>
	</array>
	<key>confirm</key>
	<array>
		<string>Confirm</string>
		<string>确认</string>
	</array>
</dict>
</plist>
